<% if @user %>
    <h1><%= @user.username %> Games</h1>
    <br>
    <% @games.each do |x| %>
        <%= link_to x.name, game_path(x) %> Rating: <%= x.rating %> Last Played: <%= time_played x %><br>
    <% end %>
<% else %>
    <h1>Games</h1>
    <% @games.each do |x| %>
        <%= link_to x.name, game_path(x) %> Rating: <%= x.rating %><br>
    <% end %>
<% end %>

