<h1><%= @game.name %></h1>

<p>Rated: <%= @game.rating %></p>
<p>System: <%= @game.system.name %></p>
<p>Info: <%= @game.description %></p> 

<% if set_users_game @game %>
    <%= form_for :input, url: "/games/#{@game.id}/last_played", method: "post" do |f| %>
        <%= f.label "Last Played:" %> 
        <%= time_played(@game) %>
        <%= f.text_field :last_played %>
        <%= f.submit "Update" %>
    <% end %>
    <br>
    <%= form_tag("/games/#{@game.id}", method: :delete) do %>
        <%= button_tag "Remove from library" %>
    <% end %>
<% else %>
    <%= form_tag("/games/#{@game.id}/add_game") do %>
        <%= button_tag "Add to library" %>
    <% end %>
<% end %>
<% if @game.creator == current_user.id %>
    <%= form_tag("/games/#{@game.id}/edit", method: :get) do %>
        <%= button_tag "Edit" %>
    <% end %>
<% end %>
