<!DOCTYPE html>
<html>
  <head>
    <title>GamersLibrary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <header>
    <% if session[:user_id] %>
      <%= form_tag games_path, :method => "get" do %>
        <%= label_tag(:query, "Search Games") %>
        <%= text_field_tag :query, params[:query] %>
        <%= submit_tag("Search", :name => nil)%>
      <% end %>
      <%= form_tag("/logout", method: "post") do %>
        <%= button_tag "Log Out" %>
      <% end %>
      <%= link_to "Home", "/" %>
    <% else %>
        <h1>Welcome to Gamers Library!</h1>
    <% end %>
    <% if flash[:alert] %>
      <%= flash[:alert] %>
    <% end %>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
